body.thebody {
    background-color: darkolivegreen;
}

h1.text-warning {
    text-align: center;
    margin: 40px auto;
}

select {
    color: #555;
}

div.calculator {
    padding: 20px;
}

p#meme {
    text-align: right;
    color: aliceblue;
}

p#meme > a {
    color: #ffcc00;
}

#fee {
    color: #ffcc00;
    text-align: center;
}

#switch-lang {
    color: darkred;
    font-weight: bold;
    cursor: pointer;
}

.amortz-link {
    color: #ffcc00;
    text-align: right;
}

#meme-img {
    display: block;
    z-index: 1;
    position: absolute;
    top: 15%;
    left: 26%;
    width: 48%;
    height: 82%;
    border: 7px solid darkred;
    border-radius: 15px;
}

.hide-meme {
    display: none;
}

#meme-link {
    cursor: pointer;
}