div.data-box {
    display: flex;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border: 1px rgb(46, 119, 255) solid ;
    border-radius: 10px;
}

h1 {
    color: rgb(46, 119, 255);
    margin: 3% auto;
    text-align: center;
}

form {
    margin: 0 auto;
}

label, legend {
    color: rgb(46, 119, 255);
}

label span {
    font-size: smaller;
    font-weight: normal;
}

label input, #loan-term {
    color: brown;
}

label.radio {
    font-weight: normal;
}

input.entry {
    width: 120px;
}

#loan-amount {    
    margin:10px 0 15px 20px;
}

.period {
    margin: 10px 0;
}

#loan-term {
    margin-left: 20px;
}

#interest {
    margin: 15px 0 10px 20px;
}

#calculate {
    margin: 5px auto;
    display: block;
    width: 200px;
    height: 30px;
    background-color: rgb(46, 119, 255);
    font-weight: bold;
    color: whitesmoke;
    border-radius: 8px;
}

.bold {
    font-weight: bold;
}

.radio {
    color: blueviolet;
    margin-left: 10px;
}
