body.thebody {
    background-color: darkolivegreen;
}

h1.text-warning {
    text-align: center;
    margin: 40px auto;
}

select {
    color: #555;
}

div.calculator {
    padding: 20px;
}

p#meme {
    text-align: right;
    color: aliceblue;
}

p#meme > a {
    color: #ffcc00;
}

#fee {
    color: #ffcc00;
    text-align: center;
}

#switch-lang {
    color: darkred;
    font-weight: bold;
}

#meme-img {
    z-index: 1;
    position: absolute;
    top: 26%;
    left: 26%;
    width: 48%;
    height: 74%;
    border: 5px solid #ffcc00;
}

.show-meme {
    display: block;
}

.hide-meme {
    display: none;
}